border-1px($color)
    position: relative
    &:after
        display: block
        // 伪类相对于父元素做绝对定位
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        border-top: 1px solid $color
        content: ' '
border-none()
    &:after
        display: none
border-1px-left($color)
    position: relative
    &:after
        display: block
        position: absolute
        left: 0
        bottom: 0
        height: 100%
        border-left: 1px solid $color
        content: ' '
bg-image($url)
    background-image: url($url + '@2x.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    @media (-webkit-min-device-pixel-ration: 3), (min-device-pixel-ration: 3)
        background-image: url($url + '@3x.png')
